{% import "_includes/forms" as forms %}

{# Register the CSS and JS Asset bundles #}
{#{% do view.registerAssetBundle('johnfmorton\\bespoken\\web\\assets\\bespokenassets') %}#}
{% do view.registerAssetBundle('johnfmorton\\bespoken\\web\\assets\\bespokenassets\\BespokenAssetsAsset') %}

{# Get the settings for the plugin #}

{% set bespokenSettings = craft.app.plugins.plugin('bespoken').getSettings() %}
{% set fieldSettings = field.settings %}
{% set subsetOfVoiceIdsForField = field.settings.voiceOptions %}
{% set allVoiceOptionsForWellReadPlugin = bespokenSettings.voices %}

{% set fieldId = field.getInputId() %}

{% set voiceIdNameOptionsForField = {} %}

{% for key in subsetOfVoiceIdsForField %}
    {% for voiceOption in allVoiceOptionsForWellReadPlugin %}
        {% if voiceOption.voiceId == key %}
            {% set voiceIdNameOptionsForField = voiceIdNameOptionsForField|merge({ (voiceOption.voiceId): voiceOption.voice }) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set environment = craft.app.config.env %}
<div class="bespoken-fields">

    {% if voiceIdNameOptionsForField|length == 0 or fieldSettings.sourceField| length == 0 %}

        {% if voiceIdNameOptionsForField|length == 0 %}
        <div class="bespoken-error">{{ 'No voice options available for field'|t('bespoken') }}</div>
        {% endif %}

        {% if fieldSettings.sourceField| length == 0 %}
        <div class="bespoken-error">{{ 'No source set for this field'|t('bespoken') }}</div>
        {% endif %}
    {% else %}
        <div class="mt-m">

            {{ forms.selectField({
                id: fieldId ~ '-voice',
                label: 'Voice field select label'|t('bespoken'),
                instructions: 'Voice field select instructions'|t('bespoken'),
                name: name ~ "[voice]",
                class: 'bespoken-voice-select',
                options: voiceIdNameOptionsForField,
                value:  value['voice'] ?? '',
            }) }}

            {{ forms.hidden({
                id: fieldId ~ '-fileNamePrefix',
                name: name ~ "[fileNamePrefix]",
                value:  fieldSettings.fileNamePrefix ?? '',
            }) }}

            <div class=" group flex flex-row">

                {%  if fieldSettings.showPreview %}
                {{ forms.button({
                    label: 'Preview Script button' | t('bespoken'),
                    class: [
                        'btn',
                        'bespoken-button',
                        'bespoken-preview',
                    ],
                    attributes: {
                        data: {
                            'target-field': field.sourceField,
                            'get-element-content-action-url': actionUrl('bespoken/bespoken/get-element-content')
                        }
                    }
                }) }}

                {% endif %}

                {{ forms.button({
                    label: 'Start Audio Job' | t('bespoken'),
                    class: [
                        'btn',
                        'bespoken-button',
                        'bespoken-generate',
                    ],
                    attributes: {
                        data: {
                            'target-field': field.sourceField,
                            'process-text-action-url': actionUrl('bespoken/bespoken/process-text'),
                            'get-element-content-action-url': actionUrl('bespoken/bespoken/get-element-content')
                        }
                    }
                }) }}

                {%  if fieldSettings.showPreview %}
                <modal-dialog class="bespoken-dialog" x-cloak>
                  <div slot="title">{{ "Preview window title" | t('bespoken') }}</div>
                  <div slot="description">{{ "Preview window description" | t('bespoken') }}</div>
                  <div slot="content"></div>
                </modal-dialog>
                {% endif %}

                <progress-component progress="0" size="24" message="Waiting to generate audio." class="bespoken-progress-component"></progress-component>
            </div>
        </div>
    {% endif %}

    {% css %}
    [x-cloak] { display: none !important; }
    {% endcss %}

</div>