{# @var plugin \johnfmorton\wellread\WellRead #}
{# @var settings \johnfmorton\wellread\models\Settings #}

<h2 class="first">ElevenLabs account details and settings</h2>

{# TODO: put this in the translations file #}

<p>The Bespoken plugin integrates your ElevenLabs account with Craft CMS. If you do not have an ElevenLabs account, sign up <a href="https://elevenlabs.io/?from=partnergomez2285">here</a>. This is a referral link which will help continue development of the plugin.</p>

<p>Once you have an account, you can find your API key in your <a href="https://elevenlabs.io/account">profile settings</a>.</p>

{% import '_includes/forms.twig' as forms %}

{{  forms.autosuggestField({
    label: 'ElevenLabs API key' | t('bespoken'),
    instructions: 'ElevenLabs API Key instructions' | t('bespoken'),
    id: 'elevenlabs-api-key',
    suggestEnvVars: true,
    name: 'elevenlabsApiKey',
    first: false,
    value: settings['elevenlabsApiKey']})
}}

{#{{ dump(settings) }}#}

{% set input %}
{{ forms.radioGroup({
    id: 'voiceModel',
    name: 'voiceModel',
    value: settings['voiceModel'] ?? 'eleven_multilingual_v2',
    options: [
        { label: 'Turbo v2.5', value: 'eleven_turbo_v2_5' },
        { label: 'Turbo v2', value: 'eleven_turbo_v2' },
        { label: 'Multilingual v2', value: 'eleven_multilingual_v2' },
        { label: 'English v1', value: 'eleven_monolingual_v1' },
        { label: 'Multilingual v1', value: 'eleven_multilingual_v1' }
    ]
}) }}
{% endset %}

{{ forms.field(
    {
        label: 'Voice model',
        instructions: 'Voice model instructions' | t('bespoken'),
        name: 'voiceModel',
        id: 'voiceModel',
        errors: settings.getErrors('voiceModel')
    },
    input
) }}

<hr>

<h2>Voice configuration</h2>

{# save the voice id uju3wxzG5OhpWcoi3SMy#}
{% set input %}
{{  forms.editableTable({
    id: 'voices',
    minRows: 0,
    initJs: true,
    name: 'voices',
    static: false,
    staticRows: false,
    addRowLabel: 'Add a new voice instruction'|t('bespoken'),
    allowAdd: true,
    allowReorder: true,
    allowDelete: true,
    cols: {
        voice: {
            heading: 'Voice name' | t('bespoken'),
            type: 'singleline',
            width: '50%',
            handle: 'voice',
            class: 'code'
        },
        voiceId: {
            heading: 'Voice ID' | t('bespoken'),
            type: 'singleline',
            width: '50%',
            handle: 'voiceId',
            class: 'code'
        }
    },
    rows: settings['voices'] ?? [],
})
}}

{% endset %}

{{ forms.field(
    {
        label: 'Voices'|t('wellread'),
        instructions: 'Add voices instructions' | t('bespoken'),
        name: 'voices',
        id: 'voices',
        errors: settings.errors.voices ?? []
    },
    input
) }}

<h2>File save options</h2>

{% set craftAssetVolumes =  [] %}

{# Loop through the array #}
{% for volume in craft.app.volumes.allVolumes %}
{#    <p>{{ volume.name }} : {{ volume.handle }}</p>#}
    {% set craftAssetVolumes = craftAssetVolumes|merge([{label: volume.name, value: volume.handle}]) %}
{% endfor %}

{# dump the array #}

{#{{ dump(craftAssetVolumes) }}#}

{{ forms.selectField(
    {
        label: 'Asset volume for audio files' | t('bespoken'),
        instructions: 'Asset volume instructions' | t('bespoken'),
        id: 'volumeHandle',
        name: 'volumeHandle',
        options: craftAssetVolumes,
        value: settings['volumeHandle'],
        errors: settings.getErrors('volumeHandle')
    }
) }}

<hr>

<h2>Advanced settings</h2>

<p>All values below should be left at the defaults under most circumstances. For more information, read the <a
            href="https://elevenlabs.io/docs/speech-synthesis/voice-settings">ElevenLabs documentation for voice settings.</a></p>

{{ forms.textField(
    {
        label: 'Stability' | t('bespoken'),
        instructions: 'Stability instructions' | t('bespoken'),
        id: 'stability',
        name: 'stability',
        type: 'number',
        value: settings['stability'],
        errors: settings.getErrors('stability')
    }
) }}


{{ forms.textField(
    {
        label: 'Similarity boost' | t('bespoken'),
        instructions: 'Similarity boost instructions' | t('bespoken'),
        id: 'similarity_boost',
        name: 'similarity_boost',
        type: 'number',
        value: settings['similarity_boost'],
        errors: settings.getErrors('similarity_boost')
    }
) }}


{{ forms.textField(
    {
        label: 'Style' | t('bespoken'),
        instructions: 'Style instructions' | t('bespoken'),
        id: 'style',
        name: 'style',
        type: 'number',
        value: settings['style'],
        errors: settings.getErrors('style')
    }
) }}

{{ forms.lightSwitchField(
    {
        label: 'Use speaker boost' | t('bespoken'),
        instructions: 'Use speaker boost instructions' | t('bespoken'),
        id: 'use_speaker_boost',
        name: 'use_speaker_boost',
        on: settings['use_speaker_boost'],
        errors: settings.getErrors('use_speaker_boost')
    }
) }}

